

.search{
    opacity: .8;
    margin-top: 100px;
}

.inputFont{
    color: white; 
    font-weight: bolder; 
    font-variant: small-caps;
    font-family: Arial, sans-serif;
    letter-spacing: 2px;
}

p{
    font-size: medium;
    border: solid;
    border-style: inset;
}
   